<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/nlog_internal_logs.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="application" fileName="logs/application_logs\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="debug" fileName="logs/debug_logs\${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debug" />

    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="application" final="true" />
    <logger name="Reader.*" minlevel="Trace" writeTo="application" />
    <logger name="Summarizer*" minlevel="Trace" writeTo="application" />
    <logger name="Publisher.*" minlevel="Trace" writeTo="application" />
    
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="Program.*" minLevel="Info" final="true" />
	
  </rules>
</nlog>